<!DOCTYPE html>
<html>
	<head>
		<title>Frontend Sandbox</title>
		<meta charset="utf-8">
	</head>							
	<body>
		
		<ol>
			<% modules.forEach (function (moduleName) { %>
			<li>
				<a href="show/<%= moduleName %>"><%= moduleName %></a>
			</li>
			<% }); %>
		</ol>
	</body>
</html>


