<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8">
		<!--
	
			Add here script links to your libraries.
	
			-->
		<% scripts.forEach(function (script) { %>
		<script src="<%= script %>"></script>
		<% }) %>
	</head>							
	<body>
		
		<%- body %>

	</body>
</html>
